body {
    margin: 0;
    padding: 0;
    font-family: 'Minecraftia', sans-serif;
    background: url("https://i.pinimg.com/1200x/d7/bd/0c/d7bd0ca771267527c3b36cd1dbe78d5b.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 100vh;
    width:100vw;
    overflow: hidden;
    
}

.container {
    text-align: center;
    margin-top: 150px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.title {
    font-size: 50px;
}

.buttons {
    margin-top: 40px;
}

.mc-btn {
    background-color: #f586dd;
    border: 3px solid #e9b3e4;
    color: white;
    padding: 15px 40px;
    font-size: 24px;
    cursor: pointer;
    margin: 20px;
    transition: 0.2s;
    border-radius: 6px;
}

.mc-btn:hover {
    transform: scale(1.1);
}

.no {
    position: absolute;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.popup-content {
    background: #2e2e2e;
    padding: 30px;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    border: 4px solid #f078d2;
}



.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
